<launch>
  <arg name="node_name" default="picam1" />
  <!-- Length in seconds to record. -->
  <!-- 0 means it will record indefinitely until stop_recording is called. -->
  <arg name="length" default="0" />

  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /$(arg node_name)/start_recording $(arg length)" />
</launch>
